/*seletor universal*/
* {
    background-color: aqua;
}
body{
    min-height: 800px;
}
span,a{
    background-color: blueviolet;
}
/*seletor de classes, aplica a todas as tags que contenham aquela classe*/
.classeDiv1{
    background-color: red;
}
.classeDiv2{
    background-color: blue;
    padding: 15px;
}
.classeDiv3{
    background-color: brown;
    
    /*margin: 15px; fora da tag as 4 dimensoes*/
    /*margin: 15px 50px; 1 numero top e bottom 2 numero right e left*/

    margin: 10px 5px 6px 15px;
}
/*seletor por ID*/
#paragrafo{
    background-color: blueviolet;
}